<!DOCTYPE html>
<html>
  <head>
    <title>Affirm</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="aff-body">
    <div class="aff-header">
      <%= link_to image_tag("aff_logo.png"), root_path %>
      <!-- div class="aff-tagline">
        Find encouragement and support for your life.
      </div -->
    </div>
    <div class="aff-content">
      <%= yield %>
    </div>
    <div class="aff-footer">    
      <div class="credit">A demo web app to support the portfolio of crjcodes at <a href="https://codeonward.com">CodeOnward.com</a> and <a href="https://github.com/crjcodes?tab=repositories">GitHub</a></div>
      <div class="use">
        <span>Please use for non-commercial purposes.  </span>
      </div>
      <div class="version">v0.0.5-alpha
      </div>
    </div>
    </div>
  </body>
</html>
